$clr-root:#ffffff;
$clr-default:#333333;
$clr-primary:#555555;
$clr-secondary:#e77817;
$font-bold:bold;
$font-regular:normal;

/* breakpoints */

$mobile-breakpoint: 768px;
$smallmobile-breakpoint: 414px;