/* element.scss */

* {
    outline: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: Arial;
    background: $clr-root;
    font-weight: $font-regular;
    padding-bottom: 10px;
    &:after {
        content: "";
        height: 300px;
        position: absolute;
        top: 0;
        z-index: -1;
        right: 0;
        left: 0;
        background: rgba(245, 92, 15, 1);
        background: -moz-linear-gradient(top, rgba(245, 92, 15, 1) 0%, rgba(229, 140, 39, 1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245, 92, 15, 1)), color-stop(100%, rgba(229, 140, 39, 1)));
        background: -webkit-linear-gradient(top, rgba(245, 92, 15, 1) 0%, rgba(229, 140, 39, 1) 100%);
        background: -o-linear-gradient(top, rgba(245, 92, 15, 1) 0%, rgba(229, 140, 39, 1) 100%);
        background: -ms-linear-gradient(top, rgba(245, 92, 15, 1) 0%, rgba(229, 140, 39, 1) 100%);
        background: linear-gradient(to bottom, rgba(245, 92, 15, 1) 0%, rgba(229, 140, 39, 1) 100%);
    }
    &.bot-space {
        padding-bottom: 74px;
    }
    &.typ-xs-gradient {
        &:after {
            height: 110px;
        }
    }
    &.typ-sm-gradient {
        &:after {
            height: 175px;
        }
    }
    &.noOrange {
        &:after {
            content: none;
        }
    }
    &.congo {
        &:after {
            height: 400px;
        }
    }
    &.thankYou {
        &:after {
            height: 350px;
        }
    }
}

h1,
h2,
h3,
h4.h5 {
    margin: 0;
}

p {}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: $mobile-breakpoint) {
    .container {
        padding: 0 30px;
    }
    body {
        &.congo {
            &:after {
                height: 600px;
            }
        }
    }
}

// @media screen and (max-width: $smallmobile-breakpoint) {
//     .container {
//         padding: 0 15px;
//     }
// }