.cm-not-in-page {
    left: -99999px;
    position: absolute;
    top: -99999px;
}

.cm-line-break {
    display: block;
}

.cm-title {
    font-size: 3.8rem;
    line-height: 5rem;
    color: $clr-root;
    text-align: center;
    padding: 10px 0 15px 0;
}

.cm-bold {
    font-weight: $font-bold;
}

.cm-light {
    font-weight: $font-regular;
}

.cm-error {
    color: #e31c1c;
    text-transform: none;
}

.cm-hidden {
    display: none;
}

.clr-orange {
    color: $clr-secondary;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #464646;
}

.cap {
    text-transform: capitalize;
}

.upp {
    text-transform: uppercase;
}

.error {
    color: red;
    font-size: 12px;
    line-height: 16px;
    margin-top: 5px;
    display: block;
    transform: none !important;
    opacity: 1 !important;
}

.success {
    position: relative;
    color: green;
    font-size: 12px;
    line-height: 16px;
    margin-top: 5px;
    display: block;
    transform: none !important;
    opacity: 1 !important;
    padding-left: 20px;
    &:before {
        content: '';
        display: block;
        width: 3px;
        height: 6px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        position: absolute;
        top: 3px;
        left: 6px;
        z-index: 2;
    }
    &:after {
        content: '';
        background: green;
        width: 16px;
        height: 16px;
        display: block;
        position: absolute;
        border-radius: 50%;
        top: 0;
        left: 0;
        z-index: 1;
    }
}

.overlay {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 11;
    &.active {
        display: block;
    }
}

.or {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 22px;
    color: #666666;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    &.typ-vertical {
        &:before,
        &:after {
            content: "";
            height: 90px;
            width: 1px;
            // background: #dadada;
            position: absolute;
            display: block;
            left: 15px;
            border-right: 1px dashed #dadada;
        }
        &:before {
            content: "";
            bottom: 42px;
        }
        &:after {
            content: "";
            top: 42px;
        }
    }
}

* {
    box-sizing: border-box;
}

.loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: rgba(225, 225, 225, 0.96);
    .box {
        background: url(../images/loader.gif) no-repeat center center transparent;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        top: 46%;
        font-size: 14px;
        color: #333;
        .text {
            top: -21px;
            position: relative;
        }
    }
    &.hide {
        display: none;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color: #fff !important;
}

@media screen and (max-width: $mobile-breakpoint) {
    .or {
        font-size: 16px;
        line-height: 20px;
        &.typ-vertical {
            position: relative;
            display: block;
            top: 30px;
            font-size: 16px;
            line-height: 20px;
            right: 0;
            left: 0;
            transform: none;
            &:before {
                content: "";
                bottom: 10px;
                width: 35%;
                height: 1px;
                background: #dadada;
            }
            &:after {
                content: "";
                top: 9px;
                width: 35%;
                height: 1px;
                background: #dadada;
                left: 171px;
            }
        }
    }
}