//bs-form
.bs-form {
    text-align: left;
    padding: 0 36px;
    .form-group {
        margin-bottom: 16px;
        .fieldName {
            font-size: 12px;
            line-height: 14px;
            color: #999999;
            display: block;
            margin-bottom: 0px;
            font-weight: normal;
        }
        .desc {
            font-size: 18px;
            line-height: 20px;
            color: #666;
            padding: 10px 0;
        }
        .form-control {
            box-shadow: none;
            border-radius: 0;
            border: none;
            border-bottom: 1px solid #dadada;
            font-size: 18px;
            line-height: 20px;
            color: #666666;
            padding: 10px 0;
            width: 100%;
        }
        &.typ-mat {
            .fieldName {
                transform-origin: 0 100%;
                transform: translate3d(0, 31px, 0) scale(1);
                transition: all 0.2s ease-in-out;
                font-size: 18px;
                line-height: 20px;
                color: #666666;
                font-weight: 200;
                .adddress-edit {
                    background: url(../images/edit.png) no-repeat 0 0 transparent;
                    width: 18px;
                    height: 18px;
                    background-size: contain;
                    display: inline-block;
                    text-indent: -99999px;
                    padding: 12px;
                    vertical-align: middle;
                    margin-left: 10px;
                    cursor: pointer;
                    &.active {
                        background: url(../images/save.png) no-repeat 0 0 transparent;
                        background-size: contain;
                    }
                }
            }
            .lbl-focused {
                transform: translate3d(0, 4px, 0) scale(.75);
                opacity: 0.6;
            }
        }
        .bs-radio {
            margin-top: 12px;
            &:last-child {
                margin-right: 0;
            }
            &.typ-btn {
                margin-top: 16px;
                &.btn2 {
                    margin-top: -13px;
                }
            }
        }
        .datePic {
            position: relative;
            .icon-datePic {
                background: url(../images/icon-datePic.png) no-repeat 0 0 transparent;
                width: 24px;
                height: 22px;
                display: block;
                position: absolute;
                right: 7px;
                top: 9px;
                background-size: contain;
                z-index: 0;
                pointer-events: none;
                opacity: 0.6;
            }
        }
        &.last {
            margin-bottom: 0;
        }
        &.typ-small {
            width: 350px;
        }
        &.typ-search {
            margin: 0 -6px 16px -36px;
            position: relative;
            .form-control {
                padding-left: 30px;
            }
            &:after {
                content: "";
                background: url(../images/search.png) no-repeat 0 0 transparent;
                width: 19px;
                height: 20px;
                display: block;
                position: absolute;
                top: 10px;
                left: 0px;
                opacity: 0.6;
                background-size: contain;
            }
        }
        &.typ-otp {
            width: 250px;
            .fieldName {
                font-size: 18px;
                line-height: 22px;
            }
            // .form-control {
            //     margin-bottom: 20px;
            // }
        }
        .note {
            font-size: 10px;
            line-height: 12px;
            margin-top: 5px;
            display: block;
            color: #999;
        }
        &.addon {
            position: relative;
            .form-control {
                padding-right: 75px;
            }
            .addOn-link {
                position: absolute;
                right: 0;
                top: 35px;
                font-size: 16px;
                line-height: 18px;
                z-index: 2;
                color: #e77817;
                &.js-otp {
                    display: none;
                }
                .timer {
                    display: none;
                }
                .text {
                    display: block;
                }
                &.active {
                    .timer {
                        display: block;
                    }
                    .text {
                        display: none;
                    }
                }
            }
            &.withNote {
                .note {
                    font-size: 12px;
                    padding: 0;
                    color: #999;
                }
                .addOn-link {
                    bottom: 29px;
                }
            }
        }
        .address-wrap {
            margin-top: 15px;
            span {
                display: block;
                font-size: 18px;
                line-height: 22px;
                color: #666;
            }
        }
        .character {
            font-size: 12px;
            float: right;
            line-height: 14px;
            color: #999;
            margin-top: 3px;
        }
        .icon-info {
            background: url(../images/info.png) no-repeat 0 0 transparent;
            display: inline-block;
            width: 18px;
            height: 20px;
            background-size: contain;
            position: relative;
            top: 6px;
            .tooltip {
                background: #f1f1f1;
                position: absolute;
                width: 220px;
                padding: 10px;
                top: -132px;
                border-radius: 5px;
                right: -102px;
                display: none;
                &:after {
                    top: 100%;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(213, 213, 213, 0);
                    border-top-color: #f1f1f1;
                    border-width: 10px;
                    margin-left: -10px;
                }
                .text {
                    overflow-y: scroll;
                    height: 100px;
                    display: block;
                    font-size: 12px;
                    line-height: 14px;
                    color: #666;
                }
            }
            &.active {
                .tooltip {
                    display: block;
                }
            }
        }
        +.error {
            position: relative;
            top: -17px;
        }
        .address-main-wrap {
            &.nonEdit {
                .form-control,
                .fl-dropdown {
                    border: none;
                    &:after {
                        content: none;
                    }
                }
                .character,
                .fieldName {
                    display: none;
                }
                .form-group {
                    margin-bottom: 0;
                }
            }
            .form-control,
            .fieldName {
                pointer-events: none;
            }
            .fl-dropdown {
                .target {
                    pointer-events: none;
                }
            }
            &.edit {
                .form-control,
                .fieldName {
                    pointer-events: all;
                }
                .fl-dropdown {
                    .target {
                        pointer-events: all;
                    }
                }
            }
        }
    }
    .hide {
        display: none;
    }
    .static-cont {
        margin-top: 8px;
        .title {
            display: block;
            font-size: 14px;
            line-height: 22px;
            color: #666;
            margin-top: 4px;
        }
        p {
            display: block;
            font-size: 12px;
            line-height: 16px;
            color: #666;
        }
        ul {
            list-style: disc;
            padding-left: 14px;
            margin-top: 10px;
            li {
                list-style: disc;
                font-size: 12px;
                line-height: 18px;
                color: #999;
            }
        }
        &.typ2 {
            margin-top: 40px;
            .title {
                padding-left: 0px;
            }
        }
        &.withSelection {
            .bs-radio {
                label {
                    span {
                        float: left;
                        padding-left: 24px;
                        font-size: 12px;
                        line-height: 16px;
                        margin-top: -1px;
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                    }
                    &:after {
                        content: "";
                        top: 3px;
                    }
                }
            }
            .form-group {
                margin-bottom: 0px;
                &.bankCont {
                    margin-top: 20px;
                }
            }
            .bankCont {
                .form-group {
                    padding-left: 24px;
                }
            }
        }
    }
    .js-nom {
        display: none;
    }
    .guardian-wrap {
        display: none;
        &.active {
            display: block;
        }
    }
    .form-sec {
        font-size: 12px;
        line-height: 14px;
        color: #666;
    }
}

.ui-autocomplete {
    position: absolute;
    background: #fff;
    width: 326px!important;
    box-shadow: 0 0 10px 0 #e2e2e2;
    max-height: 140px;
    overflow-y: auto;
    .ui-menu-item {
        .ui-menu-item-wrapper {
            padding: 10px;
            font-size: 12px;
            line-height: 14px;
            color: #666;
            cursor: pointer;
            border-bottom: 1px solid #dadada;
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .bs-form {
        padding: 0 15px;
        .static-cont {
            &.typ2 {
                margin-top: 20px;
            }
            ul {
                li {
                    line-height: 14px;
                    margin-bottom: 10px;
                }
            }
        }
        .form-group {
            &.addon {
                &.withNote {
                    .addOn-link {
                        bottom: 44px;
                    }
                }
            }
            &.typ-small {
                width: auto;
            }
            .bs-radio {
                &.typ-btn {
                    &.btn2 {
                        margin-top: 0px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        &.lytAadhar {
            .bs-radio {
                &.typ-btn {
                    width: 100%;
                }
            }
        }
    }
}