//bs-checkbox
.bs-checkbox {
    display: inline-block;
    margin-top: 5px;
    input {
        opacity: 0 !important;
        position: absolute;
    }
    label {
        font-size: 14px;
        line-height: 16px;
        color: #333333;
        font-weight: 100;
        position: relative;
        cursor: pointer;
        opacity: 1 !important;
        &:before {
            content: "";
            width: 10px;
            height: 10px;
            display: inline-block;
            border: 1px solid #333333;
            margin-right: 6px;
        }
    }
    input[type=checkbox]:not(old):checked+label {
        &:before {
            content: "";
            background: #00a651;
            border-color: #00a651;
        }
        &:after {
            content: "";
            background: url(../images/whiteMark.png) no-repeat center center transparent;
            width: 9px;
            height: 6px;
            display: inline-block;
            position: absolute;
            left: 2px;
            top: 4px;
        }
    }
    &.typPdf {
        label {
            font-size: 12px;
            line-height: 14px;
            color: #999;
        }
        input[type=checkbox]:not(old):checked+label:after {
            content: "";
            top: 2px;
        }
    }
    // .error {
    //     display: none !important;
    //     +label {
    //         color: red;
    //     }
    //     &:before {
    //         content: none;
    //     }
    // }
}