// bs-tabs

.bs-tabs {
    .tab-list {
        padding: 10px 65px;
        overflow: hidden;
        .tab-item {
            float: left;
            padding: 2px 15px 2px 0px;
            border-right: 1px solid #a1a1a1;
            .tab-link {
                font-size: 18px;
                line-height: 20px;
                text-transform: capitalize;
                padding-bottom: 5px;
                font-weight: $font-bold;
                color: $clr-default;
                border-bottom: 2px solid transparent;
                transition: all 0.5s ease;
                cursor: pointer;
            }
            &:last-of-type {
                padding-left: 15px;
                padding-right: 0px;
                border-right: none;
            }
            &:hover,
            &.active {
                .tab-link {
                    border-bottom-color: $clr-secondary;
                }
            }
        }
    }
    .tab-content {
        position: relative;
        .tab-pane {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            transition: all 0.5s ease;
            left: 0;
            right: 0;
            &.active {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .bs-tabs {
        .tab-list {
            padding: 10px 35px;
            .tab-item {
                padding-right: 10px;
                .tab-link {
                    font-size: 14px;
                    line-height: 16px;
                }
                &:last-of-type {
                    padding-left: 10px;
                }
            }
        }
    }
}