//bs-radio
.bs-radio {
    display: inline-block;
    margin-right: 8px;
    input {
        opacity: 0 !important;
        position: absolute;
    }
    label {
        font-size: 18px;
        line-height: 20px;
        color: #666;
        font-weight: 200;
        position: relative;
        cursor: pointer;
        &:before {
            content: "";
            width: 12px;
            height: 12px;
            display: inline-block;
            border-radius: 50%;
            border: 1px solid #666;
            margin-right: 6px;
        }
    }
    input[type=radio]:not(old):checked+label {
        &:after {
            content: "";
            width: 8px;
            height: 8px;
            display: inline-block;
            border-radius: 50%;
            background: $clr-secondary;
            position: absolute;
            left: 3px;
            top: 5px;
        }
    }
    &.typ-btn {
        label {
            background: $clr-root;
            padding: 8px 30px;
            font-size: 14px;
            line-height: 16px;
            color: $clr-default;
            font-weight: $font-bold;
            box-shadow: 0 0 4px -1px #a7a7a7;
            display: block;
            &:before,
            &:after {
                content: none;
            }
        }
        input[type=radio]:not(old):checked+label {
            border: 1px solid $clr-secondary;
        }
        input[type=radio]:not(old):checked+label:after {
            content: none;
        }
    }
    .aadhaarBox {
        background: 0 0!important;
        width: 238px;
        height: 223px;
        display: inline-block!important;
        vertical-align: top;
        text-align: center;
        padding: 22px!important;
        .icon {
            background: url(../images/thumbPrint.png) no-repeat center center transparent;
            height: 65px;
            display: block;
            margin: 12px auto;
            &.thumbPrint {
                background: url(../images/thumbPrint.png)no-repeat center center transparent;
            }
            &.nothumbPrint {
                background: url(../images/nothumbPrint.png)no-repeat center center transparent;
            }
        }
        .title {
            padding: 0 !important;
        }
        .subTitle {
            font-size: 12px;
            line-height: 13px;
            color: #999;
            font-weight: 100;
        }
    }
    input[type=radio]:not(old):checked+.aadhaarBox {
        border: 1px solid #e77817;
    }
    input[type=radio]:not(old):checked+.aadhaarBox:after {
        content: none;
    }
    // .error {
    //     display: none !important;
    //     +label {
    //         color: red;
    //     }
    //     &:before {
    //         content: none;
    //     }
    // }
}

.typ-fundAcc {
    .bs-radio {
        &.typ-btn {
            label {
                border-radius: 20px;
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .bs-radio {
        margin: 0 4px;
        &.typ-btn {
            label {
                padding: 8px 14px;
            }
        }
        .aadhaarBox {
            width: 100%;
            height: auto;
            padding: 0 6px 19px!important;
        }
    }
}