//bs-termsConditions
.bs-termsConditions {
    padding: 20px;
    .decs {
        margin-bottom: 30px;
        p {
            font-size: 12px;
            line-height: 18px;
            color: #999;
            margin-bottom: 10px;
        }
    }
    .act-btn {
        text-align: center;
    }
}

.shortTermsConditions {
    position: fixed;
    bottom: -100%;
    height: 120px;
    right: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 0 6px 0 #dcdcdc;
    z-index: 2;
    transition: all 0.5s ease 0s;
    &.active {
        height: 70px;
        .decs {
            display: none;
        }
        .act-btn {
            right: auto;
            left: 50%;
            transform: translateY(-40%) translateX(-50%);
        }
    }
    .decs {
        padding-right: 14%;
        margin-right: 40%;
        padding-top: 22px;
        .title {
            font-size: 14px;
            line-height: 22px;
            color: #999;
        }
        p {
            font-size: 12px;
            line-height: 18px;
            color: #999;
        }
    }
    .act-btn {
        position: absolute;
        right: 12%;
        top: 50%;
        transform: translateY(-50%);
    }
    &.valid {
        bottom: 0;
    }
}

.tc {
    padding-bottom: 140px;
}

.staticP {
    margin: 6px 0 16px;
    padding-left: 24px;
}

.bs-form .static-cont .staticP p {
    color: #999999;
}

@media screen and (max-width: $mobile-breakpoint) {
    .shortTermsConditions {
        padding: 0;
        position: relative;
        margin: 10px 0;
        background: 0 0;
        box-shadow: none;
        height: 163px;
        bottom: auto;
        &.v2 {
            height: 200px;
            display: none;
            &.valid {
                display: block;
            }
        }
        .container {
            margin: 0;
            padding: 0;
        }
        .decs {
            padding: 0;
            // padding: 10px 10px 0;
            margin: 0 0 22px 0;
        }
        .act-btn {
            position: relative;
            right: auto;
            top: auto;
            transform: none;
            margin-bottom: 20px;
            text-align: center;
        }
    }
    .act-btn {
        .btn {
            display: inline-block;
        }
    }
    .tc {
        padding-bottom: 0px;
    }
}