//bs-modal
.bs-modal {
    .modal {
        display: none;
        // position: fixed;
        // z-index: 5;
        // left: 0;
        // top: 0;
        // width: 100%;
        // height: 100%;
        // overflow: auto;
        // background-color: rgb(0, 0, 0);
        // background-color: rgba(0, 0, 0, 0.4);
        &.active {
            display: block;
        }
    }
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 40px;
        border: 1px solid #888;
        width: 300px;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        z-index: 11;
        .title {
            font-size: 16px;
            line-height: 20px;
            font-weight: $font-bold;
            color: $clr-default;
            margin-bottom: 10px;
            &.typ-2 {
                padding-left: 30px;
                position: relative;
                margin-bottom: 20px;
                .icon-cal {
                    background: url('../images/date.png') no-repeat 0px 0px transparent;
                    background-size: cover;
                    width: 20px;
                    height: 20px;
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
        .desc {
            font-size: 14px;
            line-height: 20px;
            font-weight: $font-regular;
            color: $clr-primary;
            margin-bottom: 30px;
            position: relative;
            padding-right: 30px;
            .icon {
                width: 15px;
                height: 15px;
                &.icon-edit {
                    background: url('../images/edit.png')no-repeat 0px 0px transparent;
                    background-size: cover;
                    display: block;
                    position: absolute;
                    right: 10px;
                    top: 10px;
                }
            }
        }
        .bs-form {
            padding: 0px;
            .countdown {
                font-size: 14px;
                line-height: 16px;
                color: $clr-secondary;
                font-weight: $font-bold;
            }
            .form-group {
                position: relative;
                &.completed {
                    &:before {
                        content: '';
                        background: url('../images/done.png')no-repeat 0px 0px transparent;
                        background-size: cover;
                        display: block;
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        right: 0px;
                        top: 31px;
                    }
                }
                .inr-der {
                    display: inline-block;
                    margin-top: 10px;
                    margin-right: 20px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #dadada;
                    .cart-qty-minus,
                    .cart-qty-plus {
                        width: 15px;
                        height: 15px;
                        margin: 0;
                        box-shadow: none;
                        background: 0 0;
                        outline: 0;
                        vertical-align: middle;
                        font-size: 15px;
                        line-height: 17px;
                        border: 0;
                        padding: 0px;
                    }
                    .qty {
                        padding: 0px;
                        text-align: center;
                        font-size: 15px;
                        line-height: 17px;
                        width: 17px;
                        height: 15px;
                        margin: 0 8px;
                        border: none;
                        vertical-align: middle;
                    }
                }
            }
        }
        .act-btn {
            text-align: center;
            margin-top: 40px;
            .btn {
                width: 90%;
                margin: 0px auto;
                text-align: center;
            }
        }
        &.typ-detail {
            width: 400px;
            .detail-list {
                &.typ-grid {
                    .list-item {
                        width: 50%;
                        float: left;
                    }
                }
            }
            .act-btn {
                display: inline-block;
                width: 100%;
            }
        }
        &.typ-confirm {
            width: 600px;
            height: 300px;
            padding: 25px 20px;
            text-align: center;
            .cont {
                position: absolute;
                right: 0;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                .mainTitle {
                    font-size: 22px;
                    line-height: 24px;
                    color: #333;
                    text-transform: uppercase;
                    font-weight: 700;
                    margin-bottom: 10px;
                }
                .title {
                    font-size: 18px;
                    line-height: 24px;
                    text-align: center;
                    font-weight: 100;
                    margin-bottom: 0px;
                    color: #666;
                    span {
                        text-align: center;
                        font-weight: 700;
                        color: #333;
                        display: block;
                    }
                }
                p {
                    font-size: 14px;
                    line-height: 20px;
                    color: #666;
                    margin-bottom: 20px;
                    display: block;
                    span {
                        font-size: 18px;
                        line-height: 24px;
                        display: block;
                        font-weight: 700;
                        color: #333333;
                    }
                }
                .act-btn {
                    margin: 0;
                    .btn {
                        width: auto;
                        display: inline-block;
                        width: 156px;
                        margin: 0 4px;
                    }
                }
            }
        }
    }
    .modalClose {
        position: absolute;
        right: 20px;
        top: 20px;
        padding: 8px;
        background: url(../images/close.png) no-repeat 0 0 transparent;
        border: none;
        background-size: cover;
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .bs-modal {
        .modal-content {
            width: 90%;
            padding: 10%;
            transform: none;
            top: auto;
            bottom: 0;
            &.typ-detail {
                width: auto;
                margin: 10px;
                .detail-list {
                    &.typ-grid {
                        margin-top: 30px;
                        .list-item {
                            width: 100%;
                            .mod-title-dec {
                                .title {
                                    margin-bottom: 0px;
                                }
                                .desc {
                                    margin-bottom: 16px;
                                    padding-right: 0;
                                }
                            }
                        }
                    }
                }
            }
            &.typ-confirm {
                width: 90%;
                z-index: 11;
                top: 0;
                .cont {
                    .act-btn {
                        .btn {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}