//bs-box
.bs-box {
    background: $clr-root;
    width: 980px;
    margin: 0 auto;
    min-height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(105, 105, 105, 0.34);
    .secTitle {
        font-size: 24px;
        line-height: 26px;
        color: #333;
        font-weight: 600;
        margin-bottom: 5px;
        text-align: center;
    }
    .secSubtitle {
        font-size: 16px;
        line-height: 18px;
        color: #666;
        margin-bottom: 20px;
    }
    &.typ2 {
        width: 600px;
    }
    &.typ3 {
        width: 360px;
    }
    &.typ-address {
        width: 800px;
        .lhs,
        .rhs {
            width: 43%;
            .mod-address {
                .text {
                    width: auto;
                    &:after {
                        right: 12%;
                    }
                }
            }
        }
    }
    &.typ-upload {
        width: 763px;
    }
    &.heightAuto {
        min-height: auto;
    }
    &.typ-product {
        padding: 15px 30px;
        overflow: hidden;
        width: 100%;
        min-height: auto;
        box-sizing: border-box;
        .head-wrap {
            padding: 5px 0 10px;
            color: #666;
            margin-bottom: 10px;
            display: block;
            border-bottom: 1px solid #d0d0d0;
            .title {
                font-size: 24px;
                line-height: 26px;
                font-weight: $font-bold;
                color: $clr-secondary;
                margin-bottom: 10px;
            }
            strong {
                font-weight: $font-bold;
                color: $clr-default;
            }
            span {
                display: block;
                font-size: 12px;
                line-height: 14px;
                margin-bottom: 5px;
            }
        }
        .cont-wrap {
            padding: 0;
            .list {
                .item {
                    position: relative;
                    padding-left: 12px;
                    font-size: 13px;
                    line-height: 19px;
                    color: #666;
                    margin-bottom: 10px;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 7px;
                        width: 4px;
                        height: 4px;
                        background: #333;
                        left: 0;
                        border-radius: 50%;
                    }
                }
            }
        }
        .foot-wrap {
            text-align: center;
            clear: both;
            padding: 20px 0px 0px;
            .btn {
                // margin-right: 10px;
                margin: 0 10px;
                &:last-of-type {
                    margin-right: 0px;
                }
            }
        }
    }
    &.typ-small {
        height: auto;
        min-height: auto;
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        .title {
            font-size: 24px;
            line-height: 26px;
            font-weight: $font-bold;
            margin-bottom: 10px;
            color: $clr-secondary;
        }
        .desc {
            font-size: 14px;
            line-height: 18px;
            color: #666;
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .bs-box {
        width: 100%;
        border-radius: 2px;
        &.typ2,
        &.typ3,
        &.typ-address,
        &.typ-upload {
            width: 100%;
        }
        &.typ-address {
            .rhs,
            .lhs {
                width: auto;
                display: block;
                border: none;
                padding: 0;
                .bs-form {
                    padding: 0;
                    .form-group {
                        &.typ-search {
                            margin: 0 0 20px 0;
                            .form-control {
                                display: block;
                            }
                        }
                    }
                }
            }
            .rhs {
                margin-top: 34px;
                .title {
                    margin-bottom: 10px;
                }
                .mod-address {
                    .text {
                        &:after {
                            content: "";
                            right: 2%;
                        }
                    }
                }
            }
        }
        &.typ-product {
            height: auto;
            padding: 15px;
            .head-wrap {
                width: 100%;
                float: none;
                padding: 0px 6px 15px 6px;
                border-right: none;
                border-bottom: 1px solid #d0d0d0;
                strong {
                    display: block;
                }
            }
            .cont-wrap {
                float: none;
                width: 100%;
                padding: 15px 0px 0px 0px;
                .list {
                    .item {
                        font-size: 14px;
                        line-height: 16px;
                        &:before {
                            width: 5px;
                            height: 5px;
                            top: 5px;
                        }
                    }
                }
            }
            .foot-wrap {
                padding: 5px 0px;
                .btn {
                    display: inline-block;
                    text-align: center;
                }
            }
        }
        &.typ-small {
            padding: 10px;
            height: auto;
            min-height: 0;
            .title {
                font-size: 20px;
                line-height: 22px;
            }
            .desc {
                font-size: 14px;
                line-height: 16px;
            }
        }
        .secTitle {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 16px;
        }
    }
}