//_bs-products
.bs-products {
    margin: 0 42px;
    .bs-box {
        overflow: hidden;
        width: auto;
        margin: 10px;
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .bs-products {
        margin: 0;
        .bs-box {
            img {
                width: 100%;
            }
        }
        .swiper-slide {
            width: 90%;
        }
    }
}