.bs-form .form-group .fl-dropdown {
    margin-top: 9px;
    border-bottom: 1px solid #dadada;
    padding-bottom: 6px;
    position: relative;
}

.bs-form .form-group .fl-dropdown .target {
    font-size: 18px;
    line-height: 20px;
    color: #666;
    font-weight: 200;
    display: block;
}

.bs-form .form-group .fl-dropdown:after {
    content: "";
    background: url(../images/dd.png) no-repeat right top 6px;
    background-size: 19px;
    position: absolute;
    top: 0;
    right: 9px;
    height: 22px;
    width: 26px;
    opacity: .6;
    z-index: 0;
    pointer-events: none;
}

.bs-form .form-group .fl-dropdown .fl-dropdown-list {
    position: absolute;
    width: 100%;
    top: 24px;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0px 1px 5px #bfbfbf;
    height: 80px;
    overflow-y: auto;
    z-index: 2;
    padding: 0;
}

.bs-form .form-group .fl-dropdown .fl-dropdown-list li {
    display: block;
    width: 100%;
    padding: 6px;
    border-bottom: 1px solid #efefef;
    min-height: auto;
    font-size: 14px;
    line-height: 16px;
}

.bs-form .form-group .fl-dropdown .fl-dropdown-list li:last-child {
    border-bottom: none;
}

.bs-form .form-group .fl-dropdown .fl-dropdown-list li:hover {
    cursor: pointer;
    background: #fc743c;
    color: #ffffff;
}