//bs-btn
.btn {
    font-size: 14px;
    line-height: 16px;
    color: $clr-root;
    font-weight: bold;
    padding: 8px 20px;
    border: none;
    border: 1px solid $clr-secondary;
    background: $clr-secondary;
    transition: all 0.5s ease 0s;
    &:hover {
        background: #db6201;
    }
    &.btn-outline {
        font-size: 14px;
        line-height: 16px;
        color: #666666;
        border: 1px solid #666666;
        background: transparent;
    }
    &.btn-link {
        font-size: 14px;
        line-height: 20px;
        background: transparent;
        color: $clr-secondary;
        border: none;
        padding: 6px 0;
        display: inline-block;
        text-decoration: underline;
        &:hover {
            transform: scale(1);
        }
        &.link-pdf {
            float: right;
        }
    }
}

.btn-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 0 9px -1px #eaeaea;
    text-align: center;
    z-index: 11;
    .btn {
        display: inline-block !important;
        // width: 150px;
        margin: 12px 0;
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .btn {
        font-size: 14px;
        line-height: 16px;
        &.btn-link {
            &.link-pdf {
                display: block;
                float: none;
                font-size: 16px;
                line-height: 20px;
                text-transform: uppercase;
                text-align: center;
            }
        }
    }
}