/*datepicker start*/

.ui-datepicker {
    background: #ffffff;
    box-shadow: 0 0px 4px #999999;
    padding: 0;
    z-index: 8 !important;
}

.ui-datepicker table td {
    height: auto;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    display: none;
}

.ui-datepicker .ui-datepicker-header {
    background: #003265;
}

.ui-datepicker-calendar thead {
    background: #777;
    color: #ffffff;
    cursor: pointer;
}

.ui-datepicker-calendar thead tr th:hover {
    background: #999999;
}

.ui-datepicker-calendar tbody tr td {
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
}

.ui-datepicker-calendar tbody tr td a {
    color: #666666;
    text-align: center;
}

.ui-datepicker-calendar tbody tr td.ui-datepicker-today a {
    color: #b02930;
}

.ui-datepicker .ui-datepicker-title select {
    border-radius: 0;
    background: transparent;
    border: none;
    color: #fff;
}

.ui-datepicker .ui-datepicker-title select option {
    color: #999999;
}