.bs-header {
    border-bottom: 1px solid #ffa26f;
    .menu-btn {
        background: transparent;
        border: none;
        padding: 15px 10px;
        margin-right: 4px;
        span {
            height: 1px;
            width: 20px;
            display: block;
            margin: 0 0 4px 0;
            background-color: $clr-root;
            transition: all 0.5s ease 0s;
            position: relative;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &.active {
            span {
                &:nth-child(1) {
                    bottom: -3px;
                    transform: rotate(-45deg);
                    transition: all 0.5s ease 0s;
                }
                &:nth-child(2) {
                    opacity: 0;
                    transition: all 0.5s ease 0s;
                }
                &:nth-child(3) {
                    bottom: 7px;
                    transform: rotate(45deg);
                    transition: all 0.5s ease 0s;
                }
            }
        }
    }
    .logo {
        display: inline-block;
        padding: 8px;
        h1 {
            position: relative;
            display: inline-block;
            a {
                display: block;
                width: 140px;
                img {
                    width: 100%;
                }
            }
            &:after {
                content: "";
                width: 1px;
                height: 56%;
                display: inline-block;
                background-color: #ffb88a;
                position: absolute;
                right: -13px;
                bottom: 5px;
            }
        }
        .subTitle {
            display: inline-block;
            font-size: 14px;
            font-weight: 600;
            color: #fff;
            margin-left: 25px;
            position: relative;
            top: -3px;
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .bs-header {
        .logo {
            top: 4px;
            h1 {
                a {
                    width: 115px;
                }
            }
            .subTitle {
                font-size: 12px;
            }
        }
    }
}