//bs-sec
.bs-sec {
    .sec-head {
        color: $clr-root;
        padding-left: 50px;
        margin: 26px 0 40px;
        .title {
            font-size: 33px;
            font-weight: $font-bold;
            .text-thin {
                font-weight: $font-regular;
                font-size: 16px;
                display: block;
                line-height: 28px;
            }
        }
        .sub-title {
            font-size: 16px;
            display: block;
            line-height: 28px;
            opacity: 0.6;
        }
        .note {
            font-size: 14px;
            line-height: 18px;
        }
        &.addOn-act-btn {
            padding-right: 130px;
            position: relative;
            .btn-skip {
                color: $clr-root;
                font-weight: $font-bold;
                position: absolute;
                right: 0;
                top: 0;
                font-size: 16px;
                padding-right: 15px;
                transition: all 0.8s ease 0s;
                &:after {
                    content: "";
                    background: url(../images/next.png) no-repeat 0 0 transparent;
                    width: 7px;
                    height: 12px;
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 3px;
                    background-size: contain;
                }
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        &.addOn-back {
            position: relative;
            .title {
                font-size: 16px;
                line-height: 30px;
            }
            .mod-profile {
                margin-top: 20px;
                margin-left: -40px;
                .title {
                    font-size: 36px;
                    line-height: 38px;
                }
            }
            .btn-back {
                background: url(../images/back.png) no-repeat 0 0 transparent;
                width: 17px;
                height: 16px;
                display: block;
                position: absolute;
                padding: 2px;
                left: 10px;
                top: 7px;
                background-size: contain;
            }
            .note {
                margin-top: 20px;
            }
        }
        .btn {
            background: rgba(255, 255, 255, 0.2);
            position: absolute;
            right: 0;
            top: 0;
            padding: 6px 30px;
        }
        &.typ2 {
            margin: 26px 140px 40px;
            .title {
                padding-left: 38px;
                position: relative;
                margin-bottom: 20px;
                &:before {
                    content: "";
                    background: url(../images/congratulations.png) no-repeat 0 0 transparent;
                    width: 30px;
                    height: 30px;
                    display: block;
                    position: absolute;
                    top: 5px;
                    left: 0;
                    background-size: contain;
                }
                &.track {
                    &:before {
                        content: "";
                        background: url(../images/tracking.png) no-repeat 0 0 transparent;
                        width: 30px;
                        height: 30px;
                        display: block;
                        position: absolute;
                        top: 5px;
                        left: 0;
                        background-size: contain;
                    }
                }
            }
            .sub-title {
                opacity: 1;
                font-size: 14px;
                line-height: 30px;
            }
            .acc-num {
                font-size: 20px;
                line-height: 24px;
                color: #ffffff;
                display: block;
                margin-bottom: 20px;
            }
        }
        .feachersList {
            overflow: hidden;
            margin: 25px -90px 0 0;
            li {
                float: left;
                width: 33.33%;
                margin-bottom: 16px;
                .acc-num {
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 600;
                    margin-bottom: 0;
                }
                .btn {
                    margin-top: 17px;
                    display: inline-block;
                    position: inherit;
                    right: auto;
                    top: auto;
                    padding: 8px 20px;
                }
            }
        }
    }
    .footLine {
        width: 763px;
        margin: 0 auto;
        font-size: 12px;
        line-height: 14px;
        color: #999;
        .btn {
            font-size: 12px;
            line-height: 14px;
            font-weight: 200;
            text-decoration: none;
        }
        &.typ2 {
            width: 600px;
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .bs-sec {
        .sec-head {
            padding-left: 10px;
            margin: 16px 0 40px;
            &.addOn-act-btn {
                padding-right: 0;
                margin-bottom: 20px;
            }
            .title {
                font-size: 20px;
                margin-bottom: 15px;
                .text-thin {
                    font-size: 12px;
                    line-height: 26px;
                    opacity: 0.6;
                }
            }
            .sub-title {
                font-size: 12px;
                line-height: 16px;
            }
            &.addOn-back {
                .title {
                    padding-left: 29px;
                    line-height: 20px;
                    margin-bottom: 5px;
                }
                .mod-profile {
                    margin-left: 0px;
                    .title {
                        font-size: 22px;
                        line-height: 24px;
                        padding-left: 0px;
                    }
                }
            }
            &.typ2 {
                margin: 26px 0px 40px;
            }
            .btn {
                padding: 6px 12px;
            }
            .feachersList {
                margin: 0;
                li {
                    width: 100%;
                    float: none;
                    margin-bottom: 8px;
                }
            }
        }
        .footLine {
            width: auto;
            line-height: 6px;
            margin-top: 11px;
            &.typ2 {
                width: auto;
            }
        }
    }
}