// mod-profile

.mod-profile {
    overflow: hidden;
    .user-wrap {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: url('../images/profilePic2.png') no-repeat center center;
        background-size: cover;
        float: left;
    }
    .cont-wrap {
        color: $clr-root;
        float: left;
        padding-left: 25px;
        .title {
            font-size: 36px;
            line-height: 38px;
            font-weight: $font-bold;
            margin-bottom: 5px;
        }
        .note {
            font-size: 16px;
            line-height: 18px;
            opacity: 0.6;
        }
    }
}

@media screen and (max-width:$mobile-breakpoint) {
    .mod-profile {
        .user-wrap {
            width: 60px;
            height: 60px;
            position: relative;
            top: 10px;
        }
        .cont-wrap {
            width: 175px;
            .title {
                font-size: 22px;
                line-height: 24px;
            }
            .note {
                font-size: 12px;
                line-height: 14px;
            }
        }
    }
}