//mod-opt
.mod-opt {
    ul {
        margin-bottom: 16px;
        overflow: hidden;
        border-bottom: 1px solid #d8d8d8;
        padding-bottom: 24px;
        .list-item {
            width: 33.33%;
            float: left;
            a {
                display: block;
                padding-left: 48px;
                font-size: 14px;
                line-height: 16px;
                color: #555555;
                &.icon-appointment {
                    position: relative;
                    &:after {
                        content: "";
                        background: url(../images/date.png) no-repeat center center transparent;
                        width: 30px;
                        height: 30px;
                        display: block;
                        background-size: contain;
                        position: absolute;
                        top: 0;
                        left: 0;
                        // transform: translateY(-50%);
                    }
                }
                &.icon-branch {
                    position: relative;
                    &:after {
                        content: "";
                        background: url(../images/bankBranch.png) no-repeat center center transparent;
                        width: 30px;
                        height: 30px;
                        display: block;
                        background-size: contain;
                        position: absolute;
                        top: 0;
                        left: 0;
                        // transform: translateY(-50%);
                    }
                }
                &.icon-courier {
                    position: relative;
                    padding-left: 61px;
                    &:after {
                        content: "";
                        background: url(../images/iInfo.png) no-repeat center right transparent;
                        width: 47px;
                        height: 36px;
                        display: block;
                        background-size: contain;
                        position: absolute;
                        top: 0;
                        left: 0;
                        // transform: translateY(-50%);
                    }
                }
                .text {
                    &.cm-line-break {
                        margin-top: 8px;
                    }
                }
            }
            .appDownload {
                margin-left: 60px;
                margin-top: 10px;
                a {
                    float: left;
                    width: 90px;
                    height: 30px;
                    padding: 0;
                    margin-bottom: 6px;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .mod-opt {
        ul {
            .list-item {
                a {
                    &.icon-courier {
                        padding-left: 48px;
                        &:after {
                            background-position: center left;
                        }
                    }
                }
                .appDownload {
                    margin-left: 45px;
                }
            }
        }
    }
}