//mod-title-dec
.mod-title-dec {
    .title {
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        color: #333;
        margin-bottom: 10px;
    }
    .desc {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: #555;
        margin-bottom: 30px;
        position: relative;
        padding-right: 30px;
    }
}