//mod-card 
.mod-card {
    padding: 70px 28px 116px;
    overflow: hidden;
    min-height: 400px;
    position: relative;
    &.savingsAccount {
        background: url(../images/savingsAccount.png) no-repeat 29px 20px transparent;
    }
    .title {
        font-size: 18px;
        line-height: 20px;
        color: #333;
        font-weight: 700;
        display: block;
        margin-bottom: 6px;
    }
    p {
        font-size: 12px;
        line-height: 15px;
        color: #333;
        margin-bottom: 10px;
    }
    ul {
        overflow: hidden;
        li {
            position: relative;
            padding-left: 12px;
            font-size: 13px;
            line-height: 15px;
            color: #666;
            margin-bottom: 10px;
            &:before {
                content: '';
                position: absolute;
                top: 6px;
                width: 4px;
                height: 4px;
                background: #333;
                left: 0;
                border-radius: 50%;
            }
        }
    }
    .act-wrap {
        position: absolute;
        right: 20px;
        left: 20px;
        bottom: 12px;
        .btn {
            display: block;
            text-align: center;
            margin: 6px 0;
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .mod-card {
        padding: 69px 10px 116px;
    }
}