//mod-interest-card
.mod-interest-card {
    position: relative;
    .num {
        font-size: 35px;
        line-height: 42px;
        color: #f76a13;
        font-weight: 700;
        display: block;
        padding-right: 90px;
        em {
            font-size: 20px;
            line-height: 22px;
            position: relative;
            top: -11px;
        }
    }
    .btn {
        position: absolute;
        background: 0 0;
        box-shadow: 0 0 6px 0 #dedede;
        border: none;
        color: #666;
        font-weight: 100;
        font-size: 14px;
        padding: 6px 20px;
        line-height: 16px;
        right: 0;
        top: 0;
    }
    p {
        font-size: 13px;
        line-height: 18px;
        color: #666;
        margin-top: 8px;
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .mod-interest-card {
        .num {
            font-size: 22px;
            line-height: 26px;
            em {
                font-size: 11px;
                line-height: 12px;
                top: -10px;
            }
        }
        p {
            font-size: 12px;
            line-height: 15px;
        }
    }
}