//mod-address
.mod-address {
    display: block;
    .map {
        width: 100%;
        margin-bottom: 20px;
        img {
            width: 100%;
        }
    }
    .text {
        width: 50%;
        display: block;
        p {
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;
            color: #555555;
        }
    }
}