//modSelect-opt
.modSelect-opt {
    padding: 20px 36px 12px 36px;
    position: relative;
    text-align: center;
    .title {
        font-size: 14px;
        line-height: 20px;
        font-weight: bold;
        color: $clr-default;
    }
    .selections {
        margin: 20px 0 0;
        text-align: center;
        li {
            // border-bottom: 1px solid #555;
            display: inline-block;
            margin: 10px 8px;
            a {
                font-size: 16px;
                line-height: 20px;
                color: #555;
                display: block;
                padding: 7px 11px;
                min-width: 124px;
                font-weight: 100;
            }
        }
        .btn {
            min-width: 158px;
            padding: 9px 11px;
            color: #555;
            border: 1px solid #555;
        }
    }
    .icon {
        &.icon-arrow {
            background: url(../images/dd.png) no-repeat 0 0 transparent;
            width: 13px;
            height: 10px;
            display: block;
            position: absolute;
            padding: 2px;
            left: 0;
            right: 0;
            bottom: 11px;
            background-size: contain;
            opacity: 0.7;
            margin: 0 auto;
        }
    }
    // .cont {
    //     display: none;
    // }
    &.active {
        .cont {
            display: block;
        }
        .icon {
            &.icon-arrow {
                transform: rotate(180deg);
                bottom: 15px;
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .modSelect-opt {
        padding: 20px 20px 12px;
        .selections {
            margin: 20px -20px 0;
            li {
                margin: 3px 2px;
                .file {
                    input {
                        width: 120px;
                    }
                    .btn {
                        min-width: 120px;
                        padding: 8px;
                        font-size: 11px;
                        line-height: 15px;
                    }
                }
            }
        }
    }
}