//mod-uploadPic
.mod-uploadPic {
    display: inline-block;
    width: 100%;
    padding: 50px 0;
    vertical-align: middle;
    text-align: center;
    .img {
        width: 140px;
        position: relative;
        display: inline-block;
        margin-right: 70px;
        vertical-align: middle;
        img {
            border-radius: 50%;
            width: 140px;
            height: 140px;
            overflow: hidden;
        }
        &:after {
            content: "";
            position: absolute;
            top: -8px;
            right: -8px;
            border-radius: 50%;
            width: 150px;
            height: 150px;
            display: inline-block;
            border: 3px dotted #999;
        }
    }
    .act-btn {
        display: inline-block;
        vertical-align: middle;
        .btn {
            display: block;
            width: 150px;
            margin: 12px 0;
        }
    }
}

.file {
    position: relative;
    input {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        width: 150px;
        opacity: 0;
        cursor: pointer;
        &:hover {
            ~.btn {
                border: 1px solid $clr-secondary;
                color: $clr-secondary;
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .mod-uploadPic {
        .img {
            margin: 0 auto 40px;
            display: block;
            width: 120px;
            img {
                width: 120px;
                height: 120px;
            }
            &:after {
                width: 130px;
                height: 130px;
            }
            &.upload {
                width: 130px;
                img {
                    width: 130px;
                    height: 130px;
                    box-shadow: 0 0 10px 0 #e2e2e2;
                }
                &:after {
                    content: none;
                }
            }
        }
        .act-btn {
            .btn {
                width: 160px;
                padding: 10px 20px;
            }
        }
    }
}