//lyt-form-review 
.lyt-form-review {
    padding: 32px 50px;
    position: relative;
    .detail-list {
        position: relative;
        .list-title {
            font-size: 18px;
            line-height: 22px;
            font-weight: 600;
            padding-left: 53px;
            margin-bottom: 16px;
            color: #333;
        }
        .list {
            overflow: hidden;
            margin-bottom: 60px;
            .list-item {
                display: block;
                width: 38%;
                float: left;
                padding: 0 5.8% 18px;
                .mod-title-dec {
                    .title {
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 400;
                        color: #555;
                        margin-bottom: 2px;
                    }
                    .desc {
                        font-size: 16px;
                        line-height: 20px;
                        font-weight: 400;
                        color: #333;
                        margin: 0;
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
                &:nth-child(odd) {
                    border-right: 1px solid #dadada;
                }
            }
            &.last {
                margin-bottom: 0;
            }
        }
        .icon {
            &.icon-edit {
                background: url(../images/edit.png) no-repeat 0 0 transparent;
                width: 18px;
                height: 18px;
                display: block;
                position: absolute;
                background-size: contain;
                right: 20px;
                top: 20px;
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .lyt-form-review {
        padding: 20px;
        .detail-list {
            .list-title {
                padding-left: 0;
            }
            .list {
                .list-item {
                    width: 100%;
                    border-right: none;
                    padding: 0;
                    margin-bottom: 20px;
                    &:nth-child(odd) {
                        border: none;
                    }
                }
            }
            .icon {
                &.icon-edit {
                    top: 0;
                    right: 0;
                }
            }
        }
    }
}