//lyt-congratulations
.lyt-congratulations {
    .bs-box {
        padding: 20px 40px;
        width: 800px;
    }
    .note {
        font-size: 13px;
        line-height: 16px;
        color: #555555;
        margin-bottom: 20px;
    }
    .people-interest {
        .title {
            font-size: 13px;
            line-height: 16px;
            color: #555555;
            margin-bottom: 20px;
        }
        .swiper-slide {
            width: 330px;
            .bs-box {
                width: auto;
                margin: 10px;
                min-height: auto;
                padding: 15px;
            }
        }
    }
    .documentList {
        ul {
            list-style: circle;
            .list-item {
                list-style: circle;
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 10px;
                color: #666;
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .lyt-congratulations {
        .people-interest {
            .swiper-slide {
                width: 100%;
                .bs-box {
                    margin: 5px;
                    padding: 10px;
                }
            }
            .swiper-wrapper {
                padding-bottom: 30px;
            }
        }
        .bs-box {
            width: auto;
            padding: 20px;
            .mod-opt {
                ul {
                    li {
                        width: 100%;
                        margin-bottom: 33px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .documentList {
            ul {
                padding-left: 16px;
            }
        }
    }
}