//lyt-offerSlider
.lyt-offerSlider {
    position: relative;
    .offerBox {
        background: #003366;
        padding: 16px;
        overflow: hidden;
        .offerBoxImg {
            float: left;
            margin-right: 5%;
        }
        .offerBoxCont {
            float: left;
            width: 80%;
            .title {
                font-size: 14px;
                line-height: 16px;
                font-weight: 600;
                margin-bottom: 10px;
                color: #ffffff;
            }
            p {
                font-size: 12px;
                line-height: 14px;
                color: #ffffff;
                opacity: 0.8;
            }
        }
    }
    .swiper-pagination {
        width: auto;
        margin: 0 auto;
        right: 0;
        left: 0;
        bottom: -20px;
        .swiper-pagination-bullet {
            margin: 0 5px;
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .lyt-offerSlider {
        .offerBox {
            text-align: center;
            .offerBoxImg {
                float: none;
                margin: 0 0 10px 0;
            }
            .offerBoxCont {
                width: 100%;
            }
        }
    }
}