//lyt-address
.lyt-address {
    padding: 30px 40px;
    .lhs,
    .rhs {
        width: 45%;
        overflow: hidden;
        display: inline-block;
        padding: 21px;
        vertical-align: top;
        .mod-address {
            .map {
                width: 100%;
                margin-bottom: 20px;
                height: 200px;
                overflow: hidden;
                img {
                    display: block;
                    width: auto;
                }
            }
            .text {
                p {
                    font-weight: 100;
                }
            }
        }
    }
    .lhs {
        border-right: 1px solid #e2e2e2;
    }
    .rhs {
        margin-top: 54px;
        .title {
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            margin-bottom: 30px;
            color: #333333;
        }
        .mod-address {
            position: relative;
            border-bottom: 1px dashed #e0e0e0;
            padding-bottom: 12px;
            margin-bottom: 12px;
            .text {
                &:after {
                    content: "";
                    background: url(../images/direction.png) no-repeat 0 0 transparent;
                    width: 26px;
                    height: 36px;
                    display: block;
                    position: absolute;
                    background-size: contain;
                    right: 35%;
                    top: 21%;
                }
            }
            &:last-child {
                border: none;
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .lyt-address {
        padding: 20px;
        .mod-address {
            .map {
                height: 120px;
                overflow: hidden;
                img {
                    display: block;
                    width: auto;
                }
            }
            .text {
                width: auto;
            }
        }
    }
}