//lyt-personal-details
.lyt-personal-details {
    margin: 0 auto;
    width: 800px;
    position: relative;
    display: table;
    .rhs {
        float: left;
        width: 45%;
        padding-right: 5%;
    }
    .lhs {
        float: left;
        width: 45%;
        padding-left: 5%;
    }
    .rhs,
    .lhs {
        .bs-box {
            width: 100%;
            min-height: 356px;
        }
    }
    .mod-uploadPic {
        padding: 20px 0px;
    }
    .bs-form {
        .form-group {
            margin-bottom: 20px;
        }
        .address-main-wrap {
            &.spouse {
                display: none;
            }
        }
    }
    &.typ-fullForm {
        .rhs,
        .lhs {
            width: 100%;
            padding: 0;
            .bs-box {
                min-height: auto;
            }
        }
        .rhs {
            padding-bottom: 60px;
        }
        .lhs {
            .bs-box {
                .lyt-details {
                    width: 80%;
                    margin: 0 auto;
                    .bs-form {
                        padding: 0 100px;
                    }
                }
            }
        }
        .or {
            top: -31px;
            transform: translateY(0%) translateX(-50%);
            text-align: center;
            width: 40%;
            right: 0;
            left: 50%;
            margin: 0 auto;
            position: relative;
            display: inline-block;
            &:after,
            &:before {
                content: "";
                width: 150px;
                height: 1px;
                // background: #999;
                border-top: 1px dashed #dadada;
                position: absolute;
                display: block;
                left: 15px;
                bottom: auto;
                top: auto;
            }
            &:after {
                content: "";
                top: 11px;
                left: 60%;
                right: 0;
            }
            &:before {
                content: "";
                top: 11px;
                left: -8%;
            }
        }
    }
    .js-nominee {
        display: none;
    }
    .typ-file-wrap {
        p {
            font-size: 10px;
            line-height: 14px;
            color: #333;
            display: block;
            margin-bottom: 10px;
            font-weight: 100;
        }
        .typ-file {
            position: relative;
            width: 400px;
            input.hide {
                opacity: 0;
                display: none;
            }
            label {
                border: 1px dashed #999;
                font-size: 13px;
                line-height: 20px;
                color: #333;
                padding: 10px 40px 10px 10px;
                position: relative;
                cursor: pointer;
                z-index: 3;
                display: block;
            }
            .icon {
                &.icon-upload {
                    background: url(../images/iconupload.png) no-repeat 0 0 transparent;
                    width: 13px;
                    height: 22px;
                    display: block;
                    position: absolute;
                    right: 16px;
                    top: 12px;
                    background-size: contain;
                    z-index: 0;
                }
            }
            .uplod-box {
                display: none;
                border: 1px dashed #999;
                position: relative;
                right: 0;
                left: 0;
                top: -42px;
                background: #fff;
                z-index: 3;
                padding: 18px;
                .act-wrap {
                    display: inline-block;
                    width: 172px;
                    .selections {
                        height: 200px;
                        overflow-x: auto;
                        padding-right: 12px;
                        li {
                            margin-bottom: 10px;
                            .file {
                                input,
                                .btn {
                                    width: 100%;
                                    display: block;
                                }
                            }
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                .icon-upload {
                    width: 150px;
                    height: 150px;
                    border: 1px dashed #999;
                    background: url(../images/upload.png) no-repeat center center transparent;
                    background-size: 60px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 32px;
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .lyt-personal-details {
        width: 100%;
        display: block;
        .rhs,
        .lhs {
            width: 100%;
            float: none;
            padding: 0;
        }
        .rhs {
            .bs-box {
                min-height: auto;
            }
        }
        &.typ-fullForm {
            .or {
                font-size: 16px;
                line-height: 20px;
                right: 0;
                left: 0;
                transform: none;
                width: 100%;
                &:before {
                    content: "";
                    bottom: 10px;
                    width: 35%;
                    height: 1px;
                    background: #dadada;
                    border: none;
                    left: auto;
                }
                &:after {
                    content: "";
                    top: 9px;
                    width: 35%;
                    height: 1px;
                    background: #dadada;
                    border: none;
                    left: auto;
                }
            }
            .lyt-details {
                .mod-uploadPic {
                    margin-top: 0;
                }
            }
            .lhs {
                .bs-box {
                    .lyt-details {
                        padding-right: 0;
                        width: auto;
                        .bs-form {
                            padding: 0 20px;
                            .form-group {
                                &.typ-small {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .typ-file-wrap {
            .typ-file {
                width: 100%;
                .uplod-box {
                    .icon-upload {
                        position: relative;
                        transform: none;
                        right: 0;
                        left: 0;
                        margin: 30px auto;
                    }
                    .act-wrap {
                        display: block;
                        margin: 0 auto;
                        .selections {
                            height: 108px;
                        }
                    }
                }
            }
        }
    }
}