//lyt-uplodDoc
.lyt-uplodDoc {
    padding: 20px 100px;
    .title {
        font-size: 12px;
        line-height: 16px;
        color: #555555;
        display: block;
        margin-bottom: 20px;
    }
    .upload {
        overflow: hidden;
        li {
            float: left;
            text-align: center;
            position: relative;
            overflow: hidden;
            margin: 0 20px;
            input {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                opacity: 0;
            }
            label {
                text-align: left;
                display: block;
                cursor: pointer;
                .icon {
                    margin-bottom: 6px;
                    img {
                        width: 100%;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    &.icon-upload {
                        width: 180px;
                        height: 180px;
                        display: block;
                        border: 1px dashed #999999;
                        background: url(../images/upload.png) no-repeat center center transparent;
                        &.uploaded {
                            border: none;
                        }
                    }
                }
                .text {
                    font-size: 14px;
                    line-height: 16px;
                    color: #333333;
                    font-weight: 900;
                }
            }
        }
    }
    &.typ2 {
        .title {
            font-size: 18px;
            line-height: 20px;
            color: #333;
            margin-bottom: 8px;
            font-weight: 600;
            padding-left: 20px;
        }
        .sub-title {
            font-size: 16px;
            line-height: 18px;
            color: #555555;
            margin-bottom: 30px;
            padding-left: 20px;
        }
        .upload {
            width: 680px;
            margin: 0 auto 40px;
            li {
                label {
                    text-align: center;
                    .icon {
                        width: 298px;
                        height: 350px;
                        display: block;
                        border: 1px dashed #999999;
                        &.icon-upload-front {
                            background: url(../images/aadhaarFront.jpg) no-repeat center center transparent;
                            background-size: contain;
                        }
                        &.icon-upload-back {
                            background: url(../images/aadhaarBack.jpg) no-repeat center center transparent;
                            background-size: contain;
                        }
                        &.icon-aadhaar {
                            background: url(../images/upload.png) no-repeat center center transparent;
                            background-size: 34%;
                            height: 298px;
                        }
                    }
                    .text {
                        font-size: 20px;
                        line-height: 22px;
                        color: #333;
                        font-weight: 600;
                    }
                }
            }
            &.typV3 {
                ul {
                    li {
                        margin: 0 auto;
                        width: 300px;
                        float: none;
                        pointer-events: none;
                    }
                }
            }
        }
        .note {
            font-size: 16px;
            line-height: 18px;
            color: #555555;
            padding-left: 20px;
        }
        .act-btn {
            text-align: center;
            margin: 20px 0 10px;
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .lyt-uplodDoc {
        padding: 10px;
        .upload {
            margin: 0 -20px;
            li {
                margin-bottom: 40px;
                width: 43%;
                padding: 3.4%;
                margin: 0;
                label {
                    .icon {
                        &.icon-upload {
                            width: 100%;
                            height: 100px;
                            background-size: 50%;
                        }
                    }
                    .text {
                        font-size: 10px;
                        line-height: 14px;
                    }
                }
            }
        }
        &.typ2 {
            .title {
                font-size: 14px;
                line-height: 18px;
            }
            .sub-title,
            .note {
                font-size: 12px;
                line-height: 14px;
            }
            .title,
            .sub-title {
                padding: 0;
            }
            .upload {
                width: auto;
                margin: 0 -20px;
                li {
                    margin: 0 0 20px;
                    float: left;
                    label {
                        .icon {
                            width: auto;
                            height: 155px;
                        }
                        .text {
                            font-size: 14px;
                            line-height: 16px;
                        }
                    }
                }
            }
            .note {
                padding-left: 0;
            }
        }
    }
}