//lyt-radio-wrap
.lyt-radio-wrap {
    padding: 20px 0px;
    .form-group {
        margin-bottom: 30px;
    }
    .selection-wrap {
        display: none;
    }
    .form-group {
        .form-group {
            margin: 15px 0 0 0;
        }
        &.typ2 {
            box-shadow: 0 0 4px 0 #c1c0c0;
            padding: 16px;
            margin-bottom: 0;
            position: relative;
            .bs-radio {
                &.typ-btn {
                    margin: 0 18px;
                }
            }
            &:after {
                bottom: 100%;
                left: 65%;
                border: solid transparent;
                content: " ";
                height: 23px;
                width: 40px;
                position: absolute;
                background: url(../images/arrowUp.png) no-repeat 0 5px transparent;
            }
        }
    }
    >.title {
        display: block;
        font-size: 20px;
        line-height: 22px;
        color: #333;
        padding: 0 36px;
    }
    .pdf-wrap {
        width: 100%;
        margin-top: 40px;
        .iframePdf {
            width: 100%;
            height: 300px;
        }
        .link-pdf {
            margin-bottom: 2px;
            display: inline-block;
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .lyt-radio-wrap {
        .form-group {
            &.typ2 {
                .bs-radio {
                    &.typ-btn {
                        margin: 0 18px 10px;
                    }
                }
                &:after {
                    left: 11%;
                }
            }
        }
        >.title {
            font-size: 16px;
            line-height: 22px;
            padding: 0 15px;
        }
        .pdf-wrap {
            margin: 10px 0;
            text-align: center;
            display: inline-block;
        }
    }
}