//lyt-product-page
.lyt-product-page {
    .product-table {
        width: 60%;
        margin: 14px auto 0;
        .box {
            width: 47.5%;
            display: inline-block;
            margin: 1%;
            background: #fff;
            text-align: center;
            box-shadow: 0 0 7px -2px #d6d6d6;
            border-bottom: 2px solid #fff;
            height: 430px;
            vertical-align: top;
            position: relative;
            transform: scale(0.9);
            transition: all 0.5s ease 0s;
            &.active,
            &:hover {
                border-bottom: 2px solid #ff6600;
                transform: scale(1);
            }
            &.active {
                .cont {
                    .act-btn {
                        .btn {
                            border: 1px solid #e77817;
                            background: #e77817;
                            color: #fff;
                        }
                    }
                }
            }
            .head {
                padding: 20px 32px 16px;
                background: #f1f1f1;
                .title {
                    font-size: 12px;
                    line-height: 14px;
                    color: #000000;
                    text-transform: uppercase;
                    font-weight: 500;
                }
            }
            .cont {
                padding: 16px 32px 32px;
                .title {
                    font-size: 20px;
                    line-height: 22px;
                    color: #333333;
                    margin-bottom: 16px;
                    font-weight: 600;
                }
                .text {
                    font-size: 12px;
                    line-height: 14px;
                    color: #666666;
                    margin-bottom: 7px;
                    display: block;
                }
                .amt {
                    font-size: 18px;
                    line-height: 20px;
                    color: #333;
                    font-weight: 600;
                    margin-bottom: 12px;
                    padding-bottom: 12px;
                    display: block;
                    border-bottom: 1px solid #eaeaea;
                }
                .list {
                    text-align: left;
                    margin-left: 34px;
                    .item {
                        font-size: 12px;
                        line-height: 14px;
                        color: #666666;
                        margin-bottom: 18px;
                        padding-left: 30px;
                        position: relative;
                        &:before {
                            width: 21px;
                            height: 21px;
                            display: block;
                            content: "";
                            position: absolute;
                            left: 0px;
                        }
                        &.icon-locker {
                            &:before {
                                background: url(../images/i-lock.png) no-repeat 0 0 transparent;
                            }
                        }
                        &.icon-free {
                            &:before {
                                background: url(../images/i-free.png) no-repeat 0 0 transparent;
                            }
                        }
                        &.icon-gold {
                            &:before {
                                background: url(../images/i-gold.png) no-repeat 0 0 transparent;
                            }
                        }
                        &.icon-privilege {
                            &:before {
                                background: url(../images/i-star.png) no-repeat 0 0 transparent;
                            }
                        }
                    }
                }
                .btn-link {
                    text-decoration: none;
                    margin-bottom: 18px;
                    position: absolute;
                    right: 0;
                    left: 0;
                    bottom: 52px;
                }
                .act-btn {
                    position: absolute;
                    right: 0;
                    left: 0;
                    bottom: 25px;
                    .btn {
                        width: 150px;
                        border-color: #000;
                        color: #000;
                    }
                }
            }
            .ribin {
                position: absolute;
                background: url(../images/ribin.png) no-repeat 0 0 transparent;
                width: 21px;
                height: 26px;
                display: block;
                right: 15px;
            }
        }
        // table {
        //     tr {
        //         font-size: 14px;
        //         line-height: 16px;
        //         color: #666666;
        //         td {
        //             padding: 26px 20px;
        //             h3 {
        //                 font-size: 18px;
        //                 line-height: 20px;
        //                 color: #333333;
        //             }
        //             label {
        //                 color: #333333;
        //             }
        //         }
        //         &:nth-child(2) {
        //             background: #eeeeee;
        //         }
        //         &:nth-child(3) {
        //             background: #fdf1e7;
        //         }
        //         &.ribin {
        //             td {
        //                 position: relative;
        //                 &:nth-child(1) {
        //                     background: url(../images/rib.png) no-repeat 0px 7px transparent;
        //                     display: block;
        //                     background-size: 15px;
        //                     position: relative;
        //                 }
        //             }
        //         }
        //     }
        // }
        // .table1 {
        //     border: 1px solid #e4e4e4;
        //     tr {
        //         border-bottom: 1px solid #e4e4e4;
        //         td {
        //             border-right: 1px solid #e4e4e4;
        //             font-size: 14px;
        //             line-height: 16px;
        //             color: #666666;
        //             padding: 12px;
        //             &:nth-child(1) {}
        //             &:nth-child(2) {
        //                 background: #eeeeee;
        //             }
        //             &:nth-child(3) {
        //                 background: #fdf1e7;
        //             }
        //         }
        //     }
        // }
        .select-product {
            display: block;
            .sec1,
            .sec2,
            .sec3 {
                width: 350px;
                margin: 0 10px;
                float: left;
                ul {
                    li {
                        font-size: 14px;
                        line-height: 18px;
                        color: #999;
                        padding: 12px 10px;
                        &:nth-child(1) {
                            font-size: 22px;
                            line-height: 26px;
                            color: #333333;
                        }
                    }
                }
                &:nth-child(1) {
                    width: 200px;
                    ul {
                        li {
                            &:nth-child(1) {
                                background: #eeeeee;
                            }
                        }
                    }
                }
                &:nth-child(2),
                &:nth-child(3) {
                    cursor: pointer;
                    text-align: center;
                    border: 1px solid #999999;
                    transition: all 0.5s ease 0s;
                    &:hover,
                    &.active {
                        border-color: transparent;
                        background: #ffffff;
                        box-shadow: 0 0 6px -1px #999999;
                    }
                }
                &:nth-child(3) {
                    position: relative;
                    &:after {
                        background: url(../images/rib.png) no-repeat 0 0px transparent;
                        display: block;
                        background-size: 15px;
                        content: "";
                        width: 16px;
                        height: 14px;
                        position: absolute;
                        transform: rotate(90deg);
                        right: 20px;
                        top: 0;
                    }
                }
            }
        }
        .product-box {
            border: 1px dashed #999999;
            padding: 15px 100px;
            margin-top: 20px;
            p {
                font-size: 16px;
                line-height: 18px;
                color: #666666;
                span {
                    display: inline-block;
                    vertical-align: middle;
                    &.num {
                        margin-right: 30px;
                        font-size: 42px;
                        line-height: 44px;
                        font-weight: bold;
                        color: #d2d2d2;
                    }
                }
            }
        }
    }
    .people-interest {
        margin-top: 30px;
        .title {
            font-size: 18px;
            line-height: 20px;
            color: #333333;
            font-weight: bold;
        }
        .swiper-slide {
            width: 330px;
            .bs-box {
                width: auto;
                margin: 10px;
                min-height: auto;
                padding: 15px;
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .lyt-product-page {
        margin: 0 -20px;
        .product-table {
            width: 100%;
            overflow: auto;
            white-space: nowrap;
            .scroll-hor {
                overflow-x: scroll;
                table {
                    width: 800px;
                    tr {
                        td {
                            padding: 26px 14px;
                        }
                    }
                }
            }
            .product-box {
                padding: 10px 10px 10px 66px;
                position: relative;
                p {
                    font-size: 12px;
                    line-height: 15px;
                    span {
                        &.num {
                            position: absolute;
                            left: 7px;
                            font-size: 26px;
                            line-height: 32px;
                            margin: 0;
                            top: 15px;
                        }
                    }
                }
            }
            .box {
                width: 263px;
                height: 470px;
                white-space: normal;
                .cont {
                    padding: 16px 25px 32px;
                    .list {
                        margin-left: 20px;
                    }
                }
            }
        }
        .people-interest {
            .swiper-slide {
                width: 100%;
                .bs-box {
                    margin: 5px;
                    padding: 10px;
                }
            }
        }
    }
}