//lyt-404
.lyt-404 {
    text-align: center;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    left: 0;
    .sec-head {
        color: #ffffff;
        width: 100%;
        .title {
            font-size: 32px;
            line-height: 36px;
            font-weight: 600;
            margin-bottom: 10px;
            color: #333;
        }
        p {
            font-size: 20px;
            line-height: 26px;
            color: #666;
        }
        .footLine {
            font-size: 12px;
            line-height: 14px;
            .btn {
                position: relative;
                padding: 6px;
            }
        }
    }
    .sec-cont {
        .img {
            width: 16%;
            text-align: center;
            margin: 0 auto;
            img {
                width: 100%;
                display: block;
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .lyt-404 {
        .sec-head {
            padding: 0 40px;
            .title {
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 8px;
            }
            p {
                font-size: 14px;
                line-height: 18px;
            }
        }
        .sec-cont {
            .img {
                width: 46%;
            }
        }
    }
}