//lyt-details
.lyt-details {
    .mod-uploadPic {
        padding: 20px 0 20px;
        position: relative;
        display: block;
        .img {
            position: absolute;
            top: -70px;
            margin: 0 auto;
            border-radius: 50%;
            width: 140px;
            height: 140px;
            box-shadow: 0 3px 6px #a9a9a9;
            right: 0;
            left: 0;
            &:after {
                content: none;
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .lyt-details {
        .mod-uploadPic {
            margin-top: 58px;
            padding: 20px 10px 20px;
            .img {
                top: -53px;
                width: 100px;
                height: 100px;
                img {
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
}