// lyt-product-wrap
.lyt-product-wrap {
    .swiper-container {
        padding: 5px 65px 20px 5px;
        margin-left: 60px;
        .swiper-slide {
            width: 300px!important;
        }
    }
    .bs-tabs {
        padding-bottom: 170px;
        .swiper-container {
            .swiper-slide {
                width: 300px!important;
                height: 130px;
            }
        }
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .lyt-product-wrap {
        .swiper-container {
            margin-left: 35px;
            .swiper-slide {
                width: 240px!important;
            }
        }
        .bs-tabs {
            .swiper-container {
                .swiper-slide {
                    width: 240px!important;
                }
            }
        }
    }
}