//lyt-custAccNo
.lyt-custAccNo {
    padding: 22px;
    .title {
        font-size: 14px;
        line-height: 18px;
        font-weight: $font-bold;
        color: $clr-default;
        display: block;
        margin-bottom: 16px;
    }
    .form-group {
        margin-bottom: 22px;
        label {
            font-size: 12px;
            line-height: 18px;
            color: $clr-primary;
            display: block;
            margin-bottom: 0px;
        }
        .typeAcc {
            display: block;
            ul {
                li {
                    display: inline-block;
                    position: relative;
                    vertical-align: middle;
                    &:nth-child(1),
                    &:nth-child(2) {
                        padding-right: 32px;
                        font-size: 16px;
                        line-height: 20px;
                        color: #333333;
                        &:after {
                            content: "";
                            position: absolute;
                            width: 9px;
                            height: 1px;
                            background: #999;
                            display: block;
                            right: 12px;
                            top: 10px;
                        }
                    }
                    input {
                        width: 30px;
                        height: 30px;
                        font-size: 16px;
                        line-height: 20px;
                        color: #333333;
                        text-align: center;
                    }
                }
            }
        }
        .bs-radio {
            margin-top: 10px;
            width: 46%;
            label {
                font-size: 16px;
                line-height: 20px;
                .num {
                    margin-right: 10px;
                }
                .text {
                    position: relative;
                    font-size: 12px;
                    font-weight: 100;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 10px;
                    .icon {
                        width: 13px;
                        height: 20px;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 4px;
                        &.icon-bday {
                            background: url(../images/icon-bday.png) no-repeat 0 0;
                            background-size: contain;
                        }
                        &.icon-loc {
                            background: url(../images/icon-loc.png) no-repeat 0 0;
                            background-size: contain;
                        }
                        &.icon-wife {
                            background: url(../images/icon-wife.png) no-repeat 0 0;
                            background-size: contain;
                        }
                        &.icon-mobile {
                            background: url(../images/icon-mobile.png) no-repeat 0 0;
                            background-size: contain;
                        }
                    }
                }
            }
        }
        .note {
            font-size: 12px;
            line-height: 18px;
            color: $clr-default;
            display: block;
        }
        &.typ-mat {
            width: 400px;
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .lyt-custAccNo {
        .form-group {
            .typeAcc {
                ul {
                    li {
                        &:nth-child(1),
                        &:nth-child(2) {
                            padding-right: 13px;
                            &:after {
                                right: 2px;
                            }
                        }
                        input {
                            width: 24px;
                            height: 24px;
                            border: 1px solid #dadada;
                        }
                    }
                }
            }
            .bs-radio {
                &.typ-btn {
                    width: 100%;
                    margin-right: 0;
                }
            }
            &.typ-mat {
                width: 100%;
            }
        }
    }
}