//lyt-steps
.lyt-steps {
    display: block;
    width: 96%;
    margin: 20px auto 0;
    padding-left: 178px;
    li {
        display: inline-block;
        width: 42%;
        position: relative;
        &:before {
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            display: inline-block;
            background: $clr-root;
        }
        .text {
            font-size: 14px;
            line-height: 23px;
            margin-top: 10px;
            color: #fff;
            width: 100%;
            position: relative;
            transform: translateX(-48.3%);
            text-align: center;
            span {
                display: block;
            }
        }
        &:after {
            content: "";
            background: $clr-root;
            width: 100%;
            height: 1px;
            position: absolute;
            top: 6.4%;
            left: 1.2%;
        }
        &:last-child {
            width: auto;
            &:after {
                content: none;
            }
        }
        .act {
            opacity: 0;
        }
        &.active {
            opacity: 1;
            &:before {
                content: "";
                width: 8px;
                height: 8px;
                border: none;
                border-radius: 50%;
                display: inline-block;
                background: $clr-root;
            }
            // &:after{
            //     position: absolute;
            //     width: 16px;
            //     height: 16px;
            //     z-index: 1;
            //     opacity: 0.6;
            //     background: #ffffff;
            // }
            .act {
                width: 18px;
                height: 18px;
                background: #fff;
                display: block;
                position: absolute;
                opacity: 0.4;
                top: -4px;
                left: -5px;
                border-radius: 50%;
                z-index: 0;
            }
        }
        &.completed {
            // opacity: 0.6;
            &:before {
                content: "";
                width: 18px;
                height: 18px;
                border: none;
                border-radius: 50%;
                display: inline-block;
                background: $clr-root;
                position: relative;
                top: 4px;
            }
            &:after {
                content: "";
                top: 17.2%;
            }
            .act {
                opacity: 1;
                background: url(../images/mark.png) no-repeat center center transparent;
                width: 9px;
                height: 6px;
                display: block;
                position: absolute;
                left: 4px;
                top: 10px;
                z-index: 2;
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .lyt-steps {
        padding-left: 0;
        width: 100%;
        margin-left: 11%;
        margin-top: 40px;
        li {
            width: 33%;
            vertical-align: top;
            &:before {
                width: 8px;
                height: 8px;
            }
            &:after {
                width: 100%;
                left: 4.2%;
                top: 9.4%;
            }
            &.active {
                &:before {
                    width: 8px;
                    height: 8px;
                }
                .act {
                    width: 16px;
                    height: 16px;
                    top: -3px;
                    left: -4px;
                }
            }
            &.completed {
                &:before {
                    width: 16px;
                    height: 16px;
                    top: -3px;
                }
                .act {
                    top: 3px;
                }
                &:after {
                    content: "";
                    top: 10.2%;
                    left: 6px;
                }
            }
            .text {
                font-size: 10px;
                line-height: 12px;
            }
        }
    }
}