<!-- <button type="button" class="menu-btn">
        <span></span>
        <span></span>
        <span></span>
    </button> -->
<div class="logo">
    <h1>
        <a href="#">
            <img src="assets/images/logo.svg" alt="logo">
        </a>
    </h1>
    <h2 class="subTitle">Savings Bank Account</h2>
</div>