<script type="text/javascript" src="assets/js/vendor.js"></script>
<!-- <script type="text/javascript" src="assets/js/libraries/jquery.validate.js"></script> -->
<script type="text/javascript" src="assets/js/custom.js"></script>